.git
.venv
__pycache__
*.pyc
.pytest_cache
.mypy_cache
.ruff_cache
.vscode

dataset/augmented
dataset/finaldata
dataset/require
dataset/ripple
dataset/ripple_roi
dataset/ripple_split
dataset/test

output